/**/

.header {
/*Här är container-upplägget för headern*/
  display: grid;
  grid-template-columns: repeat(6, 1fr) auto auto auto;
}

  /*↓↓Här är placeringen av varje enskilt objekt i headern↓↓*/
  .imdb {
    grid-column: -3/-2;
  }
  .netflix {
    grid-column: -2/-1;
  }
  .trailer {
    grid-column: -4/-3;
  }
  .drivers {
    grid-column: -5/-4;
  }


.container {
/*Containern med filmen och därmed en egen grid, den har en rad med 85px i toppen för att inte gå upp och krocka med menyn.*/
  display: grid;
  grid-template-rows: 85px 700px;
}
  /*Därmed så börjar filmen i rad 2.*/
  .trailerfilm {
    grid-row: 2/-1;
  }


.footer {
/*Footern består av 4 rader, den första och sista för att skapa utrymme i botten och toppen. Även av 8 kolumner, för att öka flexibiliteten och få plats med de olika listorna.*/
  display: grid;
  grid-template-rows: 15px auto auto 30px;
  grid-template-columns: repeat(8, 1fr)
}
    /*↓↓Placering av de olika styckena i min footer.↓↓*/
    .contact {
      grid-column: 1/3;
      grid-row: 3/4;
    }
    .contactrubrik {
      grid-column: 1/3;
      grid-row: 2/3;
    }
    .home {
      grid-column: 3/5;
      grid-row: 2/3;
    }
    .förare {
      grid-column: 5/7;
      grid-row: 2/3;
    }
    .lagrubrik {
      grid-column: 7/9;
      grid-row: 2/3;
    }
      /*↓↓De olika lagen fick vars en kolumn, och jag delade därmed upp dem i två spalter.↓↓*/
      .lag1 {
        grid-column: 7/8;
        grid-row: 3/4;
      }
      .lag2 {
        grid-column: 8/9;
        grid-row: 3/4
      }
