/**/

body {
/*Samma typsnitt och bakgrundsfärg genom hela sidan.*/
  background-color: black;
  font-family: verdana;
}


.header {
/*Styling för headern.*/
  background-color: black;
  padding: 5px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 4px solid red;
  z-index: 10;
}
  .header a:not(.huvudlogo) {
  /*Styling för texten på länkarna och olika "margin" och "padding" för att få det att se bra ut.*/
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    line-height: 30px;
    border-radius: 10px;
    margin-right: 10px;
  }
  .netflix {
  /*En speciell margin för Netflix-länken, då den ligger längst till höger så behövde den lite extra marginal till sidan av webbsidan.*/
    margin-right: 40px !important;
  }

    /*↓↓De olika bakgrundsbilderna som dyker upp när man drar musen över länkarna, samt lite enskild styling för att få bilderna att passa så bra som möjligt.↓↓*/
    .netflix:hover {
      background-image: url(img3/netflix-logo.jpeg);
      color: transparent !important;
      background-position: center -25px;
      background-repeat: no-repeat;
      background-size: 180px;
    }
    .imdb:hover {
      background-image: url(img3/imdb-logo.png);
      color: transparent !important;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 110px;
    }
    .trailer:hover {
      background-image: url(img3/trailer-background.jpg);
      color: transparent !important;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .drivers:hover {
      background-image: url(img3/f1-logo.png);
      color: transparent !important;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }


.footer {
/*Styling för footern.*/
  background-color: #000000;
  border: 5px dashed red;
}

  /*↓↓Styling för "Contact"-stycket.↓↓*/
  .contact {
    color: white;
    text-align: center;
    text-decoration: none;
  }
    .contactrubrik h3 {
      font-size: 21px;
      font-weight: bold;
      text-align: center;
      color: white;
    }
    .contact a {
      color: white;
      text-align: center;
      text-decoration: none;
    }
    .contact a:hover{
      border-bottom: 2.5px solid red;
    }

  .home {
  /*↓↓Styling för "Home"-stycket.↓↓*/
    text-align: center;
    margin-top: 5px;
  }
    .home a {
      color: white;
      text-decoration: none;
      font-size: 21px;
      font-weight: bold;
    }
    .home a:hover{
      border-bottom: 2.5px solid red;
    }

  .förare {
  /*↓↓Styling för "Driver"-stycket.↓↓*/
    text-align: center;
    margin-top: 5px;
  }
    .förare a {
      color: white;
      text-decoration: none;
      font-size: 21px;
      font-weight: bold;
    }
    .förare a:hover{
      border-bottom: 2.5px solid red;
    }

  .lagrubrik h3 {
  /*Styling för "Teams"-stycket.*/
    color: white;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
  }
      /*↓↓Styling de 2 olika styckena under "Teams"-rubriken.↓↓*/
      .lag1 {
        text-align: center;
        margin-top: 5px;
      }
      .lag2 {
        text-align: center;
        margin-top: 5px;
      }
      .lag1 a {
        color: white;
        text-decoration: none;
      }
      .lag2 a {
        color: white;
        text-decoration: none;
      }
      .lag1 a:hover {
        border-bottom: 2.5px solid red;
      }
      .lag2 a:hover {
        border-bottom: 2.5px solid red;
      }
