/**/

body {
/*Samma typsnitt och bakgrundsfärg genom hela sidan.*/
  background-color: black;
  font-family: verdana;
}


.header {
/*Styling för headern.*/
  background-color: black;
  padding: 5px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 4px solid red;
  z-index: 10;
}
  .header a:not(.huvudlogo) {
  /*Styling för texten på länkarna och olika "margin" och "padding" för att få det att se bra ut.*/
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    line-height: 30px;
    border-radius: 10px;
    margin-right: 10px;
  }
  .netflix {
  /*En speciell margin för Netflix-länken, då den ligger längst till höger så behövde den lite extra marginal till sidan av webbsidan.*/
    margin-right: 40px !important;
  }

    /*↓↓De olika bakgrundsbilderna som dyker upp när man drar musen över länkarna, samt lite enskild styling för att få bilderna att passa så bra som möjligt.↓↓*/
    .netflix:hover {
      background-image: url(img1/netflix-logo.jpeg);
      color: transparent !important;
      background-position: center -25px;
      background-repeat: no-repeat;
      background-size: 180px;
    }
    .imdb:hover {
      background-image: url(img1/imdb-logo.png);
      color: transparent !important;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 110px;
    }
    .trailer:hover {
      background-image: url(img1/trailer-background.jpg);
      color: transparent !important;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .drivers:hover {
      background-image: url(img1/f1-logo.png);
      color: transparent !important;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }


.container {
/*Första bakgrundsbilden.*/
  background-image: url(img1/background.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000000;
  margin-top: 80px;
  margin: 0;
  padding: 0;
}


.container2 {
/*Lite padding och border för att utmärka kanten mellan text-containern och bakgrundsbilderna.*/
  padding-top: 30px;
  padding-bottom: 50px;
  border-top: 1.2px solid red;
  border-bottom: 1.2px solid red;
}
  h1 {
  /*Styling för rubriken.*/
    text-align: center;
    margin-top: 0;
    color: white;
    font-weight: 520;
  }
  .info {
  /*Styling för texten.*/
    color: white;
    padding-top: 15px;
  }
  @media only screen and (max-width: 500px) {
  .infobild {
      display: none;
    }
  }


.container3 {
  /*Andra bakgrundsbilden.*/
  background-image: url(img1/background2.jpeg);
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000000;
}

.container4 {
/*Styling samt border för det informativa stycket om säsongerna.*/
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1.2px solid red;
  border-bottom: 1.2px solid red;
}
  /*↓↓Stying för de olika text-typerna i containern.↓↓*/
  .container4 h4 {
    color: white;
  }
  .container4 p {
    color: white;
  }
  .stycke4 h4 {
    text-decoration: 2.5px underline;
  }

  ul li {
    color: white;
  }


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 1.4s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: 1.4s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: .1}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .25}
  to {opacity: 1}
}


.footer {
/*Styling för footern.*/
  background-color: #000000;
  border: 5px dashed red;
}

  /*↓↓Styling för "Contact"-stycket.↓↓*/
  .contact {
    color: white;
    text-align: center;
    text-decoration: none;
  }
    .contactrubrik h3 {
      font-size: 21px;
      font-weight: bold;
      text-align: center;
      color: white;
    }
    .contact a {
      color: white;
      text-align: center;
      text-decoration: none;
    }
    .contact a:hover{
      border-bottom: 2.5px solid red;
    }

  .home {
  /*↓↓Styling för "Home"-stycket.↓↓*/
    text-align: center;
    margin-top: 5px;
  }
    .home a {
      color: white;
      text-decoration: none;
      font-size: 21px;
      font-weight: bold;
    }
    .home a:hover{
      border-bottom: 2.5px solid red;
    }

  .förare {
  /*↓↓Styling för "Driver"-stycket.↓↓*/
    text-align: center;
    margin-top: 5px;
  }
    .förare a {
      color: white;
      text-decoration: none;
      font-size: 21px;
      font-weight: bold;
    }
    .förare a:hover{
      border-bottom: 2.5px solid red;
    }

  .lagrubrik h3 {
  /*Styling för "Teams"-stycket.*/
    color: white;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
  }
      /*↓↓Styling de 2 olika styckena under "Teams"-rubriken.↓↓*/
      .lag1 {
        text-align: center;
        margin-top: 5px;
      }
      .lag2 {
        text-align: center;
        margin-top: 5px;
      }
      .lag1 a {
        color: white;
        text-decoration: none;
      }
      .lag2 a {
        color: white;
        text-decoration: none;
      }
      .lag1 a:hover {
        border-bottom: 2.5px solid red;
      }
      .lag2 a:hover {
        border-bottom: 2.5px solid red;
      }
